.App {
  min-width: 400px;
  align-content: center;
  border-radius: 10px;
}
h1{
  text-align: center;
  padding-top: 10px;
  color: rgb(0, 255, 72);
}
.input{
  display: flex;
  justify-content:center;
}
.crossed-line {
  text-decoration: line-through;
  color: red;
}



